/* ----------------------header------------------ */
.header{
    background-color: rgb(238, 217, 224);
}
.header__container{
    padding: 100px 10px 50px 10px;
}
.header__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20px;
}
.header__text{
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 0.1em;
    max-width: 172px;      
}
.header__title{
    max-width: 665px;
    font-family: Fredoka;
    font-size: 55px;
    font-weight: 600;
    line-height: 60px;  
    margin: 10px 0px 50px 0px;     
}
.header__span{
    color: rgba(210, 49, 102, 1);
}
.header__info{
    font-family: Hind Madurai;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    max-width: 523px;
}
.header__btn{
    margin: 50px 0px; 
}
.header__img{
    max-width: 100%;
    max-height: 100%;
}
@media only screen and (max-width:1160px) {
    .header__title{
        font-size: 45px;
    }
}

@media only screen and (max-width:900px) {
    .header__title{
        line-height: 50px;
    }
    .header__text{
        font-size: 12px;
    }
    .header__info{
        font-size: 15px;
        line-height: 20px;
    }
}

@media only screen and (max-width:650px){
    .header__list{
        flex-direction: column-reverse;
        padding-bottom: 0px;
    }
    .header__title{
        text-align: center;
        max-width: 550px;
        margin: 0px auto;
        padding: 70px 0px 20px 0px;
        font-size: 35px;
        line-height: 40px;
    }
    .header__text{
        display: none;
    }
    .header__info{
        text-align: center;
        font-size: 17px;
        max-width: 550px;
        margin: 20px auto;
    }
    .header__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 50px auto;
    }
}
