/* -----------------navbar----------------- */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #e582b2, #cc8f64);
    z-index: 1;
}
.navbar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.navbar__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}
.navbar__title{
    max-width: 41px;
    font-size: 24px;
    font-weight: 700;
    line-height: 17.58px; 
    color:white;    
}
.navbar__title:hover, .header__btn:hover{
    font-size: 25px;
    font-weight: 700;
    line-height: 17.58px; 
    color: rgba(210, 49, 102, 1);
}
.navbar__btn, .header__btn{
    padding: 14px 25px;
    border-radius: 8px;
    border: none;
    background-color: rgba(210, 49, 102, 1);
    font-family: Hind Madurai;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.08px;
    color: rgba(250, 250, 250, 1);    
}
.navbar__btn:hover{
    border: 1px solid rgba(214, 67, 116, 1);
    background-color: rgba(250, 250, 250, 1);
    color: rgba(214, 67, 116, 1);
    transform: scale(1.1);
    transition: all 1.1s;
}
.hum__menu{
    display: none;
    font-size: 47px;
    font-weight: bold;
    color: rgba(250, 250, 250, 1);
}

@media only screen and (max-width:900px) {
    .navbar__box{
        gap: 30px;
    }
    .navbar__title{
        font-size: 18px;
    }
}
@media only screen and (max-width:700px) {
    .navbar__box, .navbar__right{
        display: none;
    }
    .hum__menu{
        display: block;
    }
}