/* -----------------navbar----------------- */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #e582b2, #cc8f64);
    z-index: 1;
}
.navbar__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}
.navbar__title{
    max-width: 41px;
    height: 18px;
    font-size: 25px;
    font-weight: 700;
    line-height: 17.58px; 
    gap: 10px;  
    color:white;    
}
.navbar__title:hover{
    font-size: 25px;
    font-weight: 700;
    line-height: 17.58px; 
    color: rgba(210, 49, 102, 1);
}
.navbar__btn{
    width: 165px;
    height: 49px;
    border-radius: 5px;
    border: none;
    background-color: rgba(210, 49, 102, 1);
    font-family: Hind Madurai;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.08px;
    color: rgba(250, 250, 250, 1);    
}
.navbar__btn:hover{
    border: 1px solid rgba(214, 67, 116, 1);
    background-color: rgba(250, 250, 250, 1);
    color: rgba(214, 67, 116, 1);
    transform: scale(1.1);
    transition: all 1.1s;
}

@media only screen and (max-width:1000px) {
    .navbar__box{
       /* display: none;  */
    }
}